@font-face {
    font-family: Neue Machina;
    src: url(neue-machina-free-for-personal-use/Neue_Machina-Free_for_Personal_Use/NeueMachina-Regular.otf);
}

*::selection{
    background-color: #ef9d71;
}

body[theme = "black"]{
    background-color: black;
    color: white;
}

body[theme = "cyan"]{
    background-color: hsl(180, 100%, 40%);
    color: hsl(180, 100%, 30%);
}

body[theme = "salmon"]{
    background-color: hsl(21, 80%, 69%);
    color: black;
}

body[theme = "white"]{
    background-color: white;
    color: black;
}

.row{
    font-family: Neue Machina;
}

.heading{
    font-family: Neue Machina;
}

.slide{
    font-family: Neue Machina;
}

.slide-2{
    color: white;
}

.page-2::-webkit-scrollbar{
    display: none;
}

.component{
    font-family: Neue Machina;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.name{
    cursor: default;
}

.component::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 170%;
    background-color: blue;
    z-index: -1;
    transform: translateY(-100%);
    transition: .75s;
}

.component:hover::before{
    transform: translateY(0%);
}

.component:hover{
    color: white;
}